@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');
$site-width: 1920px;
$transition: 1.3s ease-out all;
$spacer: 10px;
::-moz-selection { background: white; color: white }
::selection { background: white; color: white }
* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}
body {
    background: #000;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
  }

h1, h2, h3, h4, h5, h6, p, ul, ol {
  font-weight: 400;
  margin-bottom: 0.25em;
  max-width: 45ch;
}
h1, h2, h3, h4, h5, h6, button {
  text-transform: uppercase;
}

button {
  outline: none;
  box-shadow: none;
  background: transparent;
  border: 0;
  &:disabled {
    cursor: default;
  }
}
  .btn {
    display: inline-block;
    margin: 10px 0;
    opacity: 1;
    transition: .3s ease opacity;
    padding: 10px;
    background: rgb(30,30,30);
    display: inline-block;
    text-decoration: none;
    color: white;
    &:not(.disabled):hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
  .big.video-iframe-wrapper {
    width: 100vw;
    height: 100vh;
  }
  
  .video-iframe-wrapper {
    height: 100%;
  }
  
  .video-iframe-wrapper div,
  .video-iframe-wrapper iframe {
    width: 100%;
    height: 100%;
  }
  
  .vid-grid {
    display: grid;
    width: 72vw;
    margin: 0 auto;
    grid-template-columns: repeat(3, 24vw);
    // grid-auto-rows: 25vh;
    grid-auto-rows: 13.5vw;
  }
  
  .vid-grid-item {
    position: relative;
    z-index: 9;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .vid-grid-text {
      z-index: 100;
      opacity: 0;
      background: rgba(0,0,0,.8);
      transition: .3s ease all;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      h2, h3 {
        text-align: center;
        font-size: 18px;
        line-height: 24px;
      }
    }

    &:hover {
      .vid-grid-text {
        opacity: 1;
        cursor: pointer;
      }
    }
    
    .video-iframe-wrapper, 
    .vid-grid-text {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .link-overlay,
    .video-iframe-wrapper {
      position: absolute;
      top: 0;
    }
    .video-iframe-wrapper {
      margin: 0 auto;
      width: 100%;
    }
    .link-overlay {
      position: absolute;
      top: 0;
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .full-width > div {
    width: 1280px;
    height: 720px;
    margin: 0 auto;
  }  



  .music-controls {
    position: fixed;
  }



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.fadeOut {
  animation: fadeOut .1s ease-out forwards;
}

@keyframes pulsing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}

.pulsing {
  animation: pulsing 1s alternate infinite;
}

.visually-hidden {
  display: none;
}

.loading-wrapper {
  position: relative;
}


.main {
  opacity: 0;
}

.thingStarted {
  animation: fadeIn 1s ease-in forwards;
}

.container {
  @media (min-width: $site-width) {
    max-width: $site-width;
  }
  max-width: 90%;
  max-width: 90vw;
  margin: 0 auto;
}

.intro {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 5vw;
  z-index: 9999;

  h1 {
    font-size: 10rem;
  }
  p, button {
    font-size: 2rem;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.vid-info {
  margin-top: 30px;
  display: flex;
  > * {
    flex: 0 0 50%;
  }
  opacity: 0.2;
  transition: $transition;
  &:hover {
    opacity: 1;
  }
}

.next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.overlayLinks {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 10;
}

.sendToBack {
  z-index: 0;
}

.film-modal {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background: rgba(0,0,0,.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    height: 100%;
    width: 100%;
  }
}


.small {
  font-size: .8em;
}

.btn-hover {
  opacity: 1;
  transition: 0.3s ease all;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.pagination-wrapper {
  display: flex;
  width: 100vw;
  > * {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &.pagination-wrapper-expanded {
    height: 80vh;
    position: fixed;
    z-index: 10;
    top: 10vh;
    left: 0;
  }
}

.close-modal {
  text-align: right;
  padding: $spacer*2 0;
}
.modal-iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.modal-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.film-pagination-minimal {
  position: absolute;
  z-index: 600;
  height: 10vh;
  top: 40vh;
  .pagination-link {
    width: 100%;
    max-width: 100%;
  }
  .prev-wrapper {
    text-align: left;
  }
  .next-wrapper {
    text-align: right;
  }
}