// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

$site-width: 1920px;
$transition: 0.3s ease-out all;
$spacer: 10px;

$gold: rgb(202, 166, 17);
$dark: rgb(12, 11, 11);
$light:rgb(232, 232, 232);
$gray: rgb(44,44,44);


::-moz-selection { background: $light; color: $dark }
::selection { background: $light; color: $dark }

* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}
body {
  background: $dark;
  color: $light;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
}


.visually-hidden {
  display: none;
}

.iframe-wrapper div,
.iframe-wrapper iframe {
  width: 100%;
  height: 100%;
}

.scroll-container {
  max-height: 100vh;
  overflow-y: scroll;
}

button {
  outline: 0;
  border: 0;
}
/* TYPOGRAPHY */


.title {
  font-weight: 700;
  font-size: 200px;
  line-height: 159px;
  text-transform: uppercase;
}

.headline {
  font-weight: 500;
  font-size: 96px;
  line-height: 96px;
  text-transform: uppercase;
  letter-spacing: .05px;
}

.about-container h2, 
.subheadline {
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.about-container h3,
.about-container h4, 
p,
ul {
  font-weight: 400;
  font-size: 0.9em;
  // letter-spacing: 0.03em;
  line-height: 1.6em;
}

.small {
  font-size: .8em;
}

/* BUTTONS AND LINKS */


a,
.link {
  color: $gold;
  text-decoration: none;
  transition: $transition;
  &:hover {
    cursor: pointer;
    color: $light;
  }
}

.link-invert {
  color: $light;
  &:hover {
    color: $gold;
  }
}

.btn,
.btn-hover {
  &:hover {
    cursor: pointer;
  }
}

.btn {
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
  outline: 0;
  padding: $spacer*1.5 $spacer*3;
  background: $light;
  // border: 1px solid $dark;
  color: $dark;
  transition: $transition;
  a {
    color: $dark;
  }
  &.btn-transp {
    background: transparent;
    color: $light;
  }
}

.btn.disabled {
  background: $gray;
  color: rgba($light, .5);
  &:hover {
    cursor: default;
  }
}

.btn:not(.disabled):hover {
  background: $gold;
}

.loading-btn {
  animation: 5s cubic-bezier(.93,.37,.56,.65) infinite alternate loadingPulse;
}

@keyframes loadingPulse {
  0% {
    background: $dark;
    color: $light;
  }
  100% {
    background: $light;
    color: $dark;
  }
}


.play-btn {
  display: flex;
  align-items: center;
  &:after {
    content: '►';
    margin-left: $spacer;
    font-size: 14px;
    color: $dark;
    animation: 1s cubic-bezier(.93,.37,.56,.65) infinite alternate colorPulse1;
    transform: translateX(0);
    transition: .4s cubic-bezier(.28,.73,.7,.74) transform;
  }
  &:hover:after {
    color: $dark !important;
    transform: translateX($spacer);
  }
}

@keyframes colorPulse1 {
  0% {
    color: $dark;
  }
  100% {
    color: $gold;
  }
}



/* INDEX OVERALL LAYOUT */


.layout-stack-wrapper {
  position: relative;
  width: 100%;
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
  height: 100vh;
  .layout-stack-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &.layout-stack-top {
      z-index: 100;
    }
  }
}

.site-about {
  background: rgba( $dark, .95 );
}

.site-intro {
  background: rgba( $dark, .7 );
  display: flex;
  align-items: center;
}

.film-modal {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background: rgba(0,0,0,.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-grid {
  margin: 0 auto;
  max-width: 129vh;
  display: grid;
  grid-template-columns: repeat(6, 21.5vh);
  grid-auto-rows: min-content;

  header {
    grid-column: 1 / span 4;
  }

  main {
    grid-column: span 6;
    section {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: auto;
      > * {
        grid-column: 1 / span 3;
      }
      h1, h2, h3, h4 {
        grid-column: 1 / span 4;
      }
      p + p {
        grid-column: 1 / span 3;
      }
    }
  }
  nav {
    grid-column: span 2;
  }

  footer {
    padding: $spacer*6 0 $spacer*3 0;
    grid-column: 1 / span 3;
  }

  .full-col {
    grid-column: 1 / span 6;
  }
  .body-text-grid { 
    grid-column: 1 / span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: min-content;

    h1, h2, h3, h4 {
      grid-column: 1 / span 4;
    }
    p {
      grid-column: 1 / span 3;
      // & + p:nth-child(2),
      // &:nth-child(4) + p:nth-child(5) {
      //   grid-column: 2 / 5;
      // }
      // &:nth-child(2) + p:nth-child(3),
      // &:nth-child(5) + p:nth-child(6) {
      //   grid-column: 3 / 6;
      // }
    }
  }  
}

.page-container {
  section + section,
  * + button,
  * + p,
  * + h1,
  * + h2,
  * + h3,
  * + h4 {
    margin-top: $spacer*2;
  }
}



/* Film 13 */

.film13-container {
  .site-logo {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.film13-grid {
  display: grid;

  // width: 72vw;
  // margin: 0 auto;
  // grid-template-columns: repeat(3, 24vw);
  // grid-auto-rows: 13.5vw;

  display: grid;
  height: 100vh;
  width: 129vh;
  margin: 0 auto;
  grid-template-rows: repeat(4, 25vh);
  grid-template-columns: repeat(3,43vh);
}

.film13-grid-item {
  position: relative;
  z-index: 9;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;

  .text-wrapper {
    z-index: 100;
    // background: rgba(0,0,0,0);
    // transition: .2s ease-in all;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    .inner-text {
      transform: translateY(25vh);
      background: rgba(0,0,0,0);
      width: 100%;
      // width: 50%;
      // margin: 0 auto;
      padding: $spacer;
      text-align: center;
      transition: .3s ease-in-out all;
      h2, h3 {
        font-weight: 400;
      }
      h2 {
        font-size: 20px;
        line-height: 28px;
      }
      h3 {
        margin-top: $spacer;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  &:hover {
    .text-wrapper {
      cursor: pointer;
    }

    .inner-text {
      background: rgba(0,0,0,.8);
      transform: translateY(0);
    }
  }

  .poster-wrapper,
  .iframe-wrapper, 
  .text-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .iframe-wrapper {
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    div, iframe {
      width: 100%;
      height: 100%;
    }
  }

  .poster-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 8;
    img {
      min-height: 100%;
      object-fit: cover;
    }
    &.hide-images {
      // display: none;
      animation: .3s ease-out forwards hideImages;
    }
  }
}

@keyframes hideImages {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* MODAL */


$btnSize: 50px;

.modal-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2vh 1fr;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;

  .modal-close-overlay {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: rgba($dark, .9);
  }

  .modal-iframe-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    width: 90vw;
    margin: 0 auto;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }  
  }

  .modal-close-btn,
  .pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: $btnSize;
      height: 5vh;
      position: fixed;
      padding: $spacer;
      color: $gray;
      background: transparent;
      font-size: 24px;
      transition: $transition;
      &:hover {
        cursor: pointer;
        color: $light;
      }
    }
  }

  .modal-close-btn button {
    text-transform: lowercase;
    text-align: right;
    top: 0;
    right: 0;
  }

  .pagination-button button {
    top: 45vh;
  }

  .prev-wrapper button {
    text-align: left;
    left: 0;
  }
  .next-wrapper button {
    text-align: right;
    right: 0;
  }
}

.button-hover-overlay {
  width: auto;
  max-width: 15vw;
  display: flex;
  opacity: 0;
  transition: .4s ease-in-out all;
  flex-direction: column;
  background: $dark;
  position: fixed;
  top: 35vh;
  .image-wrapper {
    text-align: center;
    img {
      width: 100%;
    }
  }
  .text-wrapper {
    padding: $spacer;
    h2, h3 {
      font-weight: 400;
    }
    h2 {
      font-size: 20px;
      line-height: 28px;
    }
    h3 {
      margin-top: $spacer;
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.prev-wrapper .button-hover-overlay {
  left: 5vh;
  transform: translateX(-15vw);
}

.next-wrapper .button-hover-overlay {
  right: 5vh;
  transform: translateX(15vw);
}

.next-wrapper:hover,
.prev-wrapper:hover {
  cursor: pointer;

  > .button-hover-overlay {
    opacity: 1;
    transform: translateX(0);
  }
  button {
    color: $light;
  }
} 

.loading-iframe {
  width: 100%;
  height: 100vh;
  background: $gold;
  animation: 1s cubic-bezier(.93,.37,.56,.65) infinite alternate loadingIframePulse;
}

@keyframes loadingIframePulse {
  from {
    background: rgba($dark, 1);
  }
  to {
    background: rgba($dark, .3);
  }
}

.modal-controls-anim-enter {
  opacity: 0;
  animation: 1s .5s ease-out forwards fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* EXPANDED PAGINATION */

.pagination-wrapper-expanded {
  display: flex;
  width: 100vw;
  height: 80vh;
  position: fixed;
  z-index: 10;
  top: 10vh;
  left: 0;
  > * {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* SITE INTRO */


.intro-container {
  width: 100%;

  header {
    grid-row: 1 / 2;
  }
  main {
    grid-column: 1 / span 6;
    grid-row: 2 / 3;
    margin-top: $spacer*2;
  }
  nav {
    grid-row: 1 / 3;
    grid-column: 5 / span 2;
    margin-top: $spacer*2;
  }
}

.highlight-card {
  text-align: center;
  background: rgba($dark, 0.8);
  // border: 10px solid $light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    margin-left: auto;
    margin-right: auto;
  }
}



/* SITE ABOUT */

.about-container {
  padding-top: $spacer*10;
  nav {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
  } 

  .subtitles ul {
    justify-content: flex-start;
    > li {
      margin-right: $spacer*3;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  section + section {
    margin-top: $spacer*4;  
  }

  section p:first-child {
    margin-top: $spacer*2;
  }
  .artist-bio-grid {
    margin-top: $spacer*4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > * {
      flex: 0 0 28%;
    }
    h3 {
      font-size: 1.5em;
    }
    h4 {
      margin-top: 0;
    }
    .artist-bio-grid-item {
      margin-bottom: $spacer*6;
    }
  }


  .funding-logos-grid {
    grid-column: 1 / span 4;
    margin-top: $spacer*2;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: $spacer*3;
    margin-right: auto;
    > * {
      flex: 30%;
      padding: $spacer*2.5;
      display: flex;
      align-items: center;
    }
  } 
  footer {
    margin: $spacer*3 0;  
    p {
      font-size: 14px;
      line-height: 22px;
      font-style: italic;
    }
  }
  
}





// big pic animations
.layout-stack-item {
  transition: 1s ease all;
  &.anim-page-slideLeft {
    transform: translateX(-100vw);
    background: rgb($dark, 0);
  }
  &.anim-page-inView.site-intro {
    transform: translateX(0);
    background: rgb($dark, 0.8);
  }
  &.anim-page-inView.site-about {
    transform: translateX(0);
    background: rgb($dark, 1);
  }

  &.anim-modal-slideRight {
    transform: translateX(100vw);
    .modal-close-overlay {
      background: rgb($dark, 0);
    }
  }
  &.anim-modal-inView {
    transform: translateX(0);
    // background: rgb($dark, .1);
  }

}


// .film-modal {
//   animation: .3s ease-out forwards enterModal;
// }

// @keyframes enterModal {
//   from {
//     opacity: 0;
//     transform: translateX(100vw);
//   }
//   to {
//     opacity: 1;
//     transform: 0;
//   }
// }



.subtitles {
  ul {
    margin-top: $spacer;
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    li {
      &.active-sub {
        color: $gold;
      }
      &:hover {
        cursor: pointer;
        color: $gold;
      }
    } 
  }
}


.stacked-subs {
  h3 {
    display: none;
  }
  ul {
    flex-direction: column;
  }
}
